services:
  postgres:
    image: postgres:17-alpine
    container_name: rbs-postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - rbs-network

  redis:
    image: redis:7-alpine
    container_name: rbs-redis
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - rbs-network
    command: redis-server --appendonly yes

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local

networks:
  rbs-network:
    driver: bridge
